*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    position: fixed;
    top: 20px;
    left: 20px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
}

nav a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

header{
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    height: auto;
    padding: 48px;
    width: 100%;
}

.icono{
    display: block;
    z-index: 100000000000;
    animation: moverIzquierda 1s ease-in;
}

.uno{
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
}
.dos{
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.enlaces{
    position: fixed;
    display: flex;
    top: 0;
    background: rgba(0,0,0,0.9);
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    left:0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

img{
    display: block;
    height: 460px;
    object-fit: cover;
    width: auto;
    animation: arriba 1s ease-in;
}

.textos{
    width: 50%;
    color: white;
}

.textos h1{
    font-size: 60px;
    animation: moverDerecha 1s ease-in;
}

.textos h2{
    font-size: 30px;
    animation: moverIzquierda 1s ease-in;
}

.textos a{
    display: inline-block;
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    text-align: center;
    border-radius: 2px;
    padding: 6px 0;
    animation: arriba 1s ease-in;
}

.wave{
    height: 100px;
    width: 100%;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}



@media screen and (max-width: 915px){
    img{
        height: 330px;
    }
    .textos h1{
        font-size: 50px;
    }
    .textos h2{
        font-size: 25px;
    }
}

@media screen and (max-width: 738px){
    img{
        height: 250px;
    }
    .textos h1{
        font-size: 30px;
    }
    .textos h2{
        font-size: 15px;
    }
}

@media screen and (max-width: 522px){
    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    img{
        height: 200px;
    }
    .textos{
        width: 100%;
        text-align: center;
    }
    .textos h1{
        font-size: 60px;
    }
    .textos h2{
        font-size: 25px;
    }
}

@media screen and (max-width: 312px){
    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    img{
        height: 200px;
    }
    .textos{
        width: 100%;
        text-align: center;
    }
    .textos h1{
        font-size: 30px;
    }
    .textos h2{
        font-size: 15px;
    }
}